.containerMain {
  display: flex;
}

.categorias {
  box-shadow: 3px 3px 6px black;
  padding: 36px;
  width: 310px;
}

.categorias button {
  background-color: #31c28d;
  border: none;
  color: white;
  cursor: pointer;
  margin: 0 auto;
  padding: 10px 20px;
}

.produtos select {
  background-color: none;
  border: 1px solid #444955;
  color: #444955;
  font-size: 16px;
  margin: 15px;
  padding: 10px;
  position: absolute;
  right: 0;
}

.produtos ul {
  margin-top: 50px;
}

.produtos ul img {
  height: 100%;
}

.radioCategory {
  color: #444955;
  padding-bottom: 15px;
}

.radioCategory:first-of-type {
  border-top: 2px solid #b0b3bb;
  padding-top: 20px;
}

.radioCategory input {
  display: none;
}

.radioCategory label {
  cursor: pointer;
}

.radioCategory input:checked + label {
  color: #003be5;
  font-weight: 700;
}

.search {
  background-image: url('/src/assets/SearchSVG.svg');
  background-position-x: 95%;
  background-position-y: center;
  background-repeat: no-repeat;
  border: 1px solid black;
  color: #b0b3bb;
  font-size: 14px;
  font-weight: 400;
  height: 35px;
  line-height: 16.4px;
  padding: 10px;
}
